body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to left, black,grey);
    color: #fff;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: linear-gradient(to right, black, grey);
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    animation: slideInHeader 1s ease-out;
    flex-wrap: wrap;
}

.header .logo {
    display: flex;
    align-items: center;
    animation: fadeInLogo 1s ease-out;
}

.header .logo img {
    height: 40px;
    margin-right: 10px;
    border-radius: 20px;
}

.header .logo span {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}

.nav {
    display: flex;
    gap: 20px;
    animation: fadeInNav 1s ease-out 0.5s;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: color 0.3s, transform 0.3s;
    position: relative;
}

.nav a:hover {
    color: black;
    transform: scale(1.1);
}

.nav a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: black;
    bottom: -5px;
    left: 0;
    transition: width 0.3s;
}

.nav a:hover::after {
    width: 100%;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.saldo {
    text-align: center;
    margin-bottom: 20px;
}

.transaksi {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

th {
    background-color: rgb(53, 53, 53);
}

/* Media Queries for Responsiveness */
@media (max-width: 600px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .container {
        padding: 15px;
    }

    th, td {
        font-size: 14px;
    }
}