body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, black, grey);
    color: #fff;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: linear-gradient(to right, black, grey);
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    animation: slideInHeader 1s ease-out;
    flex-wrap: wrap;
}

.header .logo {
    display: flex;
    align-items: center;
    animation: fadeInLogo 1s ease-out;
}

.header .logo img {
    height: 40px;
    margin-right: 10px;
    border-radius: 20px;
}

.header .logo span {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}

.nav {
    display: flex;
    gap: 20px;
    animation: fadeInNav 1s ease-out 0.5s;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: color 0.3s, transform 0.3s;
    position: relative;
}

.nav a:hover {
    color: black;
    transform: scale(1.1);
}

.nav a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: black;
    bottom: -5px;
    left: 0;
    transition: width 0.3s;
}

.nav a:hover::after {
    width: 100%;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.container h1 {
    text-align: center;
}

.container label {
    display: block;
    margin: 10px 0 5px;
}
.container button {
    width: 100%;
    padding: 20px;
    background-color: rgb(87, 69, 192);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    margin-top: 20px; 
}

.container button:hover {
    background-color: rgb(29, 0, 196);
}

.container select,
.container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white; /* Background putih untuk input */
    color: black; /* Teks hitam untuk input */
}


.result {
    margin-top: 20px;
    text-align: center;
    font-size: 1.2em;
}

footer {
    text-align: center;
    margin-top: 30px;
    color: white;
}

/* Responsiveness */
@media (max-width: 600px) {
    .form-section {
        padding: 15px;
    }

    .form-section h1 {
        font-size: 1.5em;
    }

    .form-section button {
        font-size: 1em;
    }
}